bsi24tallerbilly/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
bsi24tallerbilly/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
bsi24tallerbilly/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
bsi24tallerbilly/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
bsi24tallerbilly/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
bsi24tallerbilly/packages/jQuery.1.10.2/Tools/uninstall.ps1
bsi24tallerbilly/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
bsi24tallerbilly/packages/jQuery.1.10.2/Tools/install.ps1
bsi24tallerbilly/packages/jQuery.1.10.2/Tools/common.ps1
bsi24tallerbilly/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
bsi24tallerbilly/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
bsi24tallerbilly/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
bsi24tallerbilly/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
bsi24tallerbilly/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
bsi24tallerbilly/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
bsi24tallerbilly/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
bsi24tallerbilly/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
bsi24tallerbilly/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
bsi24tallerbilly/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
bsi24tallerbilly/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
bsi24tallerbilly/packages/bootstrap.3.0.0/content/Content/bootstrap.css
bsi24tallerbilly/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
bsi24tallerbilly/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
bsi24tallerbilly/packages/Respond.1.2.0/content/Scripts/respond.min.js
bsi24tallerbilly/packages/Respond.1.2.0/content/Scripts/respond.js
bsi24tallerbilly/packages/Respond.1.2.0/Respond.1.2.0.nupkg
bsi24tallerbilly/packages/Owin.1.0/Owin.1.0.nupkg
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
bsi24tallerbilly/packages/Modernizr.2.6.2/Tools/uninstall.ps1
bsi24tallerbilly/packages/Modernizr.2.6.2/Tools/install.ps1
bsi24tallerbilly/packages/Modernizr.2.6.2/Tools/common.ps1
bsi24tallerbilly/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
bsi24tallerbilly/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
bsi24tallerbilly/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
bsi24tallerbilly/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.min.js
bsi24tallerbilly/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.js
bsi24tallerbilly/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psm1
bsi24tallerbilly/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psd1
bsi24tallerbilly/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Uninstall.ps1
bsi24tallerbilly/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
bsi24tallerbilly/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.XML
bsi24tallerbilly/packages/Microsoft.Owin.Security.Twitter.3.0.1/Microsoft.Owin.Security.Twitter.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.XML
bsi24tallerbilly/packages/Microsoft.Owin.Security.OAuth.3.0.1/Microsoft.Owin.Security.OAuth.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
bsi24tallerbilly/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/Microsoft.Owin.Security.MicrosoftAccount.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.XML
bsi24tallerbilly/packages/Microsoft.Owin.Security.Google.3.0.1/Microsoft.Owin.Security.Google.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.XML
bsi24tallerbilly/packages/Microsoft.Owin.Security.Facebook.3.0.1/Microsoft.Owin.Security.Facebook.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.xml
bsi24tallerbilly/packages/Microsoft.Owin.Security.Cookies.3.0.1/Microsoft.Owin.Security.Cookies.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.XML
bsi24tallerbilly/packages/Microsoft.Owin.Security.3.0.1/Microsoft.Owin.Security.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
bsi24tallerbilly/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/Microsoft.Owin.Host.SystemWeb.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.XML
bsi24tallerbilly/packages/Microsoft.Owin.3.0.1/Microsoft.Owin.3.0.1.nupkg
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.rsp
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.exe.config
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.rsp
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.exe.config
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.rsp
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.exe.config
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/VBCSCompiler.exe.config
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.VisualBasic.Core.targets
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CSharp.Core.targets
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/build/Microsoft.Net.Compilers.props
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/ThirdPartyNotices.rtf
bsi24tallerbilly/packages/Microsoft.Net.Compilers.2.1.0/Microsoft.Net.Compilers.2.1.0.nupkg
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/tools/net45/uninstall.ps1
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/tools/net45/install.ps1
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net46/web.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net46/web.config.install.xdt
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net45/web.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net45/web.config.install.xdt
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
bsi24tallerbilly/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
bsi24tallerbilly/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
bsi24tallerbilly/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
bsi24tallerbilly/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
bsi24tallerbilly/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
bsi24tallerbilly/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.xml
bsi24tallerbilly/packages/Microsoft.AspNet.Identity.Owin.2.2.1/Microsoft.AspNet.Identity.Owin.2.2.1.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
bsi24tallerbilly/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/Microsoft.AspNet.Identity.EntityFramework.2.2.1.nupkg
bsi24tallerbilly/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.xml
bsi24tallerbilly/packages/Microsoft.AspNet.Identity.Core.2.2.1/Microsoft.AspNet.Identity.Core.2.2.1.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.transform
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/content/ApplicationInsights.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.2.0.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net45/Microsoft.AI.WindowsServer.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/lib/net40/Microsoft.AI.WindowsServer.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.transform
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/content/ApplicationInsights.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Tools/install.ps1
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.WindowsServer.2.2.0/Microsoft.ApplicationInsights.WindowsServer.2.2.0.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net45/Microsoft.AI.Web.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/lib/net40/Microsoft.AI.Web.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/web.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.transform
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net45/ApplicationInsights.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/web.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.transform
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/content/net40/ApplicationInsights.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Web.2.2.0/Microsoft.ApplicationInsights.Web.2.2.0.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.transform
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/content/ApplicationInsights.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.2.0.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net45/Microsoft.AI.DependencyCollector.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/lib/net40/Microsoft.AI.DependencyCollector.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.uninstall.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.transform
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/content/ApplicationInsights.config.install.xdt
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.DependencyCollector.2.2.0/Microsoft.ApplicationInsights.DependencyCollector.2.2.0.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6/Microsoft.ApplicationInsights.Agent.Intercept.2.0.6.nupkg
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.2.2.0/lib/netstandard1.5/Microsoft.ApplicationInsights.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.2.2.0/lib/net46/Microsoft.ApplicationInsights.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.2.2.0/lib/net45/Microsoft.ApplicationInsights.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.2.2.0/lib/net40/Microsoft.ApplicationInsights.XML
bsi24tallerbilly/packages/Microsoft.ApplicationInsights.2.2.0/Microsoft.ApplicationInsights.2.2.0.nupkg
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/uap10.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/netstandard1.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/pt/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/it/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/es/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/de/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.XML
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/lib/net45/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.XML
bsi24tallerbilly/packages/MSTest.TestFramework.1.1.17/MSTest.TestFramework.1.1.17.nupkg
bsi24tallerbilly/packages/MSTest.TestAdapter.1.1.17/build/uap10.0/MSTest.TestAdapter.targets
bsi24tallerbilly/packages/MSTest.TestAdapter.1.1.17/build/uap10.0/MSTest.TestAdapter.props
bsi24tallerbilly/packages/MSTest.TestAdapter.1.1.17/build/netcoreapp1.0/MSTest.TestAdapter.props
bsi24tallerbilly/packages/MSTest.TestAdapter.1.1.17/build/net45/MSTest.TestAdapter.targets
bsi24tallerbilly/packages/MSTest.TestAdapter.1.1.17/build/net45/MSTest.TestAdapter.props
bsi24tallerbilly/packages/MSTest.TestAdapter.1.1.17/MSTest.TestAdapter.1.1.17.nupkg
bsi24tallerbilly/packages/EntityFramework.6.1.3/tools/install.ps1
bsi24tallerbilly/packages/EntityFramework.6.1.3/tools/init.ps1
bsi24tallerbilly/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
bsi24tallerbilly/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
bsi24tallerbilly/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
bsi24tallerbilly/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
bsi24tallerbilly/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
bsi24tallerbilly/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
bsi24tallerbilly/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
bsi24tallerbilly/packages/EntityFramework.6.1.3/content/Web.config.transform
bsi24tallerbilly/packages/EntityFramework.6.1.3/content/App.config.transform
bsi24tallerbilly/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
bsi24tallerbilly/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
bsi24tallerbilly/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.min.css
bsi24tallerbilly/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
bsi24tallerbilly/packages/WebGrease.1.5.2/tools/uninstall.ps1
bsi24tallerbilly/packages/WebGrease.1.5.2/tools/install.ps1
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
bsi24tallerbilly/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
bsi24tallerbilly/.vs/bsi24tallerbilly/v15/Server/sqlite3/storage.ide-wal
bsi24tallerbilly/.vs/bsi24tallerbilly/v15/Server/sqlite3/storage.ide-shm
bsi24tallerbilly/.vs/bsi24tallerbilly/v15/Server/sqlite3/storage.ide
bsi24tallerbilly/.vs/bsi24tallerbilly/v15/Server/sqlite3/db.lock
