bsi24tallerbilly/.vs/
bsi24tallerbilly/packages/
bsi24tallerbilly/bsi24tallerbilly/obj/
bsi24tallerbilly/bsi24tallerbilly/Properties/PublishProfiles/bsi-24billyworkshop - FTP.pubxml
bsi24tallerbilly/bsi24tallerbilly/Properties/PublishProfiles/bsi-24billyworkshop - Web Deploy.pubxml
