body {
  color:white;
}

.list-unstyled.especialidades {
  font-size:large;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
   
}

.navbar li {
    color: #000
}
